body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

body.criar-page {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}

.main-container {
  position: fixed; /* Fixar o main-container na tela */
  top: 100px; /* Ajustar conforme necessário para não sobrepor o cabeçalho */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  height: calc(100vh - 120px); /* Altura da viewport menos a altura do cabeçalho e margem */
  overflow-y: auto; /* Permitir rolagem dentro do main-container */
  background-color: #000;
  padding: 20px;
  box-sizing: border-box;
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out; /* Animação suave */
  color: #fff; /* Ajuste para legibilidade */
}



.main-container.expanded-1 {
  max-height: 600px; /* Expandir ao mostrar o primeiro carrossel */
}

.main-container.expanded-2 {
  max-height: none; /* Permitir rolagem ao mostrar o segundo carrossel */
  overflow-y: auto;  /* Permitir rolagem interna */
}
.silhouette-container {
  position: relative;
  text-align: center;
  width: 512px;
  height: 512px;
  margin: 0 auto;
}

.silhouette-image {
  width: 100%;
  height: 100%;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.205);
}

/* Carrosséis */
.carousel-container {
  position: relative;
  width: 90%;
  max-width: 660px;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px auto;
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carousel-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 200px;
  height: 150px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.carousel-item.selected {
  background-color: #ffffff;
  transform: scale(1.1);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(243, 243, 243, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .carousel-item {
    min-width: calc(100% / 2 - 20px);
    height: 120px;
  }
}
