html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 103vh;
  padding: 20px;
  margin-top: -20px;
  color: #fff;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

/* Linha vertical */
.vertical-line {
  position: relative;
  width: 2px;
  background-color: #fff;
  margin: 0 10px;
  align-self: stretch;
  height: 780px;
}
.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 10px;
  width: 70px;
  height: 80%;
  box-shadow: inset 0 0 0px 1px rgb(255, 255, 255);
  z-index: 2;
  transition: width 0.3s ease-in-out; /* Transição mais curta */
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.toolbar.expanded {
  width: 400px;
  align-items: flex-start;
}

/* Mantém os botões fixos */
.toolbar-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 10px 0;
  position: relative;
}

.toolbar-button:hover {
  color: #ff6347;
  transform: scale(1.1); /* Aumenta levemente o botão ao passar o mouse */

}



.upload-button.selected {
  color: #ffffff;
}

.upload-toolbar-content {
  position: absolute;
  top: 20px;
  left: 100px;
  display: none; /* Inicialmente oculto */
  flex-direction: column;
  gap: 10px;
  color: #fff;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer-image {
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  display: block;
  margin: auto;
}
.viewer-container {
  height: 79%; /* Agora desconta a altura da tab-container */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  flex-grow: 1;
  box-shadow: inset 0px 0px 0px 2px rgb(30 30 30);

  position: relative;
  overflow: hidden;
  padding-top: 50px; /* Empurrar todo o conteúdo para baixo */
}






.viewer-container.reduced {
  margin-left: 0px;
  /* Deslocamento proporcional à expansão */
}

/* Nome da peça e botão de edição */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title-container a {
  font-size: 2rem;
  color: #fff;
}


.icon-button:hover {
  color: #ff6347;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  max-height: 400px; /* Limite para rolagem */
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px; /* Largura fixa para cada item */
  background-color: #ffffff3a; /* Cor de fundo para destacar */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100px; /* Limita a altura */
  object-fit: contain; /* Mantém proporção da imagem */
  margin-bottom: 5px;
}

.gallery-item-caption {
  font-size: 12px; /* Tamanho da fonte ajustado */
  color: #000;
  word-break: break-word; /* Evita que o texto ultrapasse os limites */
  text-align: center;
}



/* Botão estilizado */
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
  border-radius: 12px;
  box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.custom-file-upload:hover {
  background: #e0e0e0;
  color: #000;
}

.custom-file-upload input {
  display: none;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content img {
  max-width: 90%;
  max-height: 300px;
  object-fit: contain;
}

.popup-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn-confirm {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-confirm:hover {
  background: #218838;
}

.btn-cancel:hover {
  background: #c82333;
}

.edit-toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.edit-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#name-display {
  font-size: 1.2rem;
  color: #fff;
}

.icon-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.icon-button:hover {
  color: #ff6347;
}

#edit-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.edit-input {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #218838;
}
.toolbar.expanded .upload-toolbar-content {
  display: flex; /* Mostra o conteúdo */
  flex-direction: column;
  gap: 10px;
  opacity: 1; /* Garante que esteja visível */
  transition: opacity 0.3s ease-in-out;
}


.toolbar.expanded .edit-toolbar-content,
.toolbar.expanded .upload-toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Transições e animações */

.toolbar-content {
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  left: 80px; /* Move o conteúdo sem empurrar os botões */
  top: 10px;
}
.toolbar-content.active {
  display: flex;
  opacity: 1;
}

.toolbar-content.visible {
  display: flex; /* Mostra o conteúdo */
  opacity: 1; /* Torna visível */
}
.toolbar-button.active {
  background-color: #00000000;
  color: #fff;
}
.toolbar.expanded .toolbar-content {
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 100px; /* Ajuste fino para encaixar melhor */
  top: 50px; /* Mantém distância entre os botões e o conteúdo */
}

.toolbar-content.flex {
  opacity: 1;
  display: flex; /* Visível quando expandido */
}


/* Estilo do botão ativo */
.toolbar-button.active {
  color: #ff2600; /* Destaque para o botão ativo */
}

.tab .close-tab {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  color: red;
}
.tab-container {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 30px; /* Definindo altura fixa */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  box-shadow: inset 0 0 0px 1px rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 10px;
}


.tabs {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}

.tab {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.tab.active {
  background-color: #6803ff55; /* Destaque para a aba ativa */
  font-weight: bold;
}

.viewer-canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#imageCanvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.viewer.active {
  display: flex;
}
#image-name-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#image-name-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.editor-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Espaço consistente entre botões */
  flex-wrap: wrap;
  margin-top: 20px;
}

.editor-tool-button {
  background-color: #ffb400;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.editor-tool-button:hover {
  background-color: #ff8c00;
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
.toolbar.expanded .palette-toolbar-content {
  display: flex; /* Mostra o conteúdo */
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.palette-toolbar-content {
  display: none; /* Inicialmente escondido */
  flex-direction: column; /* Garantir layout vertical */
  gap: 10px; /* Espaçamento entre os botões */
  opacity: 0; /* Invisível até a expansão */
  transition: opacity 0.3s ease-in-out;
  position: absolute; /* Para evitar sobreposição indesejada */
  top: 50%; /* Alinhamento vertical */
  left: 100px; /* Ajuste para posição lateral */
  transform: translateY(-50%);
  z-index: 10; /* Para evitar que fique abaixo de outros elementos */
}
.image-editor {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.viewer-container.active .image-editor {
  display: block;
}
#model-viewer, #imageCanvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantém a proporção */
}
.canvas-container canvas {
  width: 100%;
  height: 100%;
}
.viewer iframe {
  width: 100%;
  height: calc(100% - 50px); /* Reduzindo altura para compensar a tab-container */
  border: none;
  display: block;
  position: absolute;
  top: 50px; /* Aplicando margem superior em todas as abas */
  left: 0;
}



#viewers-container {
  width: 100%;
  height: 100%;
  position: relative;
}
