/* Estilos do Header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Reduzida para coincidir com a linha */
    background-color: blue; /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Define o desfoque */
    z-index: 1000;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Linha divisória */
.navbar::after {
    content: "";
    position: absolute;
    bottom: 0; /* Posiciona a linha na parte inferior do cabeçalho */
    left: 60px; /* Margem da linha a partir da borda esquerda */
    right: 60px; /* Margem da linha a partir da borda direita */
    height: 2px;
    background-color: #ffffff; /* Cor da linha divisória */
    border-radius: 6px; /* Bordas arredondadas para um acabamento mais suave */
}



/* Espaçamento no body para compensar o header fixo */
body {
    padding-top: 100px; /* Compensação ajustada para a altura do cabeçalho fixo */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Alinha os itens à esquerda, centro e direita corretamente */
.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.logo-navbar {
    width: 40px;
    height: 40px;
    margin-right: 20px; /* Espaçamento entre logo e links de navegação */
}

/* Estilização dos links do menu */
.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
    
}

.nav-menu li a {
    color: #ffffff; /* Letras pretas */
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: all 0.3s;
    display: inline-block;
}

.nav-menu li a:hover::after,
.nav-menu li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}

/* Seção Direita */
.navbar-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

/* Estilos para a foto de perfil e menu dropdown */
.profile-dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.btn-profile {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-dropdown {
    position: relative;
    margin-left: 10px;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.menu-button svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    transition: fill 0.3s;
}

.menu-button:hover svg {
    fill: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    background-color: transparent;
    min-width: 50px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

/* Links de autenticação (Login e Registro) */
.auth-links {
    display: flex;
    align-items: center;
}

.auth-button {
    background-color: #f0f0f0;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    margin-left: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #e0e0e0;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .auth-links {
        margin-top: 10px;
    }
}


