<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="/static/css/header.css" rel="stylesheet"> <!-- Link para o arquivo header.css -->
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <!-- Seção Esquerda: Logo -->
            <div class="navbar-left">
                <a class="navbar-brand" href="/redesocial">
                    <img src="/static/STYLEFY.png" alt="Logo" class="logo-navbar">
                </a>
            </div>
            <!-- Seção Central: Links de Navegação -->
            <div class="navbar-center">
                <ul class="nav-menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/criar">Criar</a></li>
                </ul>
            </div>
            <!-- Seção Direita: Perfil ou Links de Autenticação -->
            <div class="navbar-right">
                {% if g.username %}
                <div class="profile-dropdown">
                    <button type="button" class="btn-profile" onclick="window.location.href='/perfil'">
                        <img src="{{ g.profile_pic }}" alt="profile-img" class="profile-img">
                    </button>
                    <div class="dropdown">
                        <button class="dropdown-toggle">
                            &#x25BC;
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/settings">Configurações</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="auth-links">
                    <a href="/login" class="auth-button">Login</a>
                    <a href="/registro" class="auth-button">Registro</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</body>
</html>
