<!DOCTYPE html>

<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Home</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>

<body>
  
    
    {% if username == "lc" %}
    <a class="button" href="/admin">Página de administração</a>
    {% endif %}

    

    <div class="container">
        {% include 'header.html' %}
<hr/>
<div class="content">
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
<div class="col">
<a href="/pagina1" style="text-decoration: none; color: inherit;">
<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto1.jpg');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Faça o seu estilo</h3>
<ul class="d-flex list-unstyled mt-auto">
<li class="d-flex align-items-center">
<svg class="bi me-2" height="1em" width="1em"><use xlink:href="#calendar3"></use></svg>
</li>
</ul>
</div>
</div>
</a>
</div>
<div class="col">
<a href="/pagina2" style="text-decoration: none; color: inherit;">
<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto2.jpg');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Compartilhe seu estilo</h3>
<ul class="d-flex list-unstyled mt-auto">
<li class="d-flex align-items-center">
<svg class="bi me-2" height="1em" width="1em"><use xlink:href="#calendar3"></use></svg>
</li>
</ul>
</div>
</div>
</a>
</div>
<div class="col">
<a href="/pagina1" style="text-decoration: none; color: inherit;">
<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto3.jpg');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Descubra alguns estilos</h3>
<ul class="d-flex list-unstyled mt-auto">
<li class="d-flex align-items-center">
<svg class="bi me-2" height="1em" width="1em"><use xlink:href="#calendar3"></use></svg>
</li>
</ul>
</div>
</div>
</a>
</div>
</div>
<div class="container">
<div class="d-flex justify-content-between">
<!-- Primeiro Bloco -->
<div class="block">
<img alt="Descrição da Imagem" class="block-image" src="/static/roupa.png"/>
<div class="block-text">
<h3 class="block-title">Estilo Personalizado</h3>
<p class="block-description">Crie suas próprias roupas que refletem quem você é.</p>
</div>
</div>
<!-- Segundo Bloco -->
<div class="block">
<img alt="Descrição da Imagem" class="block-image" src="/static/tendencia.png"/>
<div class="block-text">
<h3 class="block-title">Faça a tendência</h3>
<p class="block-description">Descubra e compartilhe as últimas tendências de moda.</p>
</div>
</div>
<!-- Terceiro Bloco -->
<div class="block">
<img alt="Descrição da Imagem" class="block-image" src="/static/loja.png"/>
<div class="block-text">
<h3 class="block-title">Loja Personalizável</h3>
<p class="block-description">Venda suas peças exclusivas diretamente aos seus seguidores e comunidade</p>
</div>
</div>
</div>
</div>
</div>
<div class="feed">
<h2 class="pb-2 border-bottom mt-5">De olho nas tendências</h2>

                    {% if username %}
                    <form class="post-form" enctype="multipart/form-data" method="POST">
<div class="form-group">
<textarea class="form-control" name="content" placeholder="O que você está pensando?" required=""></textarea>
</div>
<div class="form-group">
<input class="form-control" name="image" type="file"/>
</div>
<button class="btn btn-primary" type="submit">Postar</button>
</form>
                    {% endif %}

                    {% for post in posts %}
                    <div class="feed-item">
<div class="post-header">
<img alt="Foto de Perfil" class="profile-img" src="{{ post[5] }}"/>
<div class="post-content">
<h3>{{ post[1] }}</h3> <!-- Nome de usuário -->
<small>{{ post[3] }}</small> <!-- Data e hora -->
</div>
</div>
<p>{{ post[2] }}</p> <!-- Legenda -->
                        {% if post[4] %}
                        <img alt="Imagem do Post" src="{{ post[4] }}"/> <!-- Imagem, se houver -->
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
