<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    {% if username == "lc" %}
    <a href="/admin" class="button">Página de administração</a>
    {% endif %}

    <div class="main-container">
        <div class="header">
            {% include 'header.html' %}
            {% include 'base.html' %}

            <!-- Exibir a foto de perfil e o nome do usuário, se estiver logado -->
            {% if username %}
                <div class="d-flex align-items-center">

                </div>
            {% else %}
                <a href="{{ url_for('login_route') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('registro_route') }}" class="btn btn-secondary">Registro</a>
            {% endif %}
        </div>
        <hr>
        <div class="content">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <a href="/pagina1" style="text-decoration: none; color: inherit;">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto1.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Faça o seu estilo</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center">
                                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/redesocial" style="text-decoration: none; color: inherit;">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto2.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Compartilhe seu estilo</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center">
                                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pagina1" style="text-decoration: none; color: inherit;">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/foto3.jpg');">
                            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Compre estilos exclusivas</h3>
                                <ul class="d-flex list-unstyled mt-auto">
                                    <li class="d-flex align-items-center">
                                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <!-- Primeiro Bloco -->
                <div class="block">
                    <img src="/static/roupa.png" alt="Descrição da Imagem" class="block-image">
                    <div class="block-text">
                        <h3 class="block-title">Estilo Personalizado</h3>
                        <p class="block-description">Crie suas próprias roupas que refletem quem você é.</p>
                    </div>
                </div>
        
                <!-- Segundo Bloco -->
                <div class="block">
                    <img src="/static/tendencia.png" alt="Descrição da Imagem" class="block-image">
                    <div class="block-text">
                        <h3 class="block-title">Faça a tendência</h3>
                        <p class="block-description">Descubra e compartilhe as últimas tendências de moda.</p>
                    </div>
                </div>
        
                <!-- Terceiro Bloco -->
                <div class="block">
                    <img src="/static/loja.png" alt="Descrição da Imagem" class="block-image">
                    <div class="block-text">
                        <h3 class="block-title">Loja Personalizável</h3>
                        <p class="block-description">Compre e venda peças exclusivas diretamente aos seus seguidores e comunidade</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>